<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaagro.microservice.platform.tms.mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.jaagro.microservice.platform.tms.entity.Customer">
    <id column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="customer_type_id" jdbcType="BIGINT" property="customerTypeId" />
    <result column="branch_id" jdbcType="BIGINT" property="branchId" />
    <result column="admin_region_id" jdbcType="BIGINT" property="adminRegionId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="contact_person" jdbcType="VARCHAR" property="contactPerson" />
    <result column="contact_number" jdbcType="VARCHAR" property="contactNumber" />
    <result column="contact_mobile" jdbcType="VARCHAR" property="contactMobile" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="invoice_type_id" jdbcType="BIGINT" property="invoiceTypeId" />
    <result column="invoice_header" jdbcType="VARCHAR" property="invoiceHeader" />
    <result column="tax_number" jdbcType="VARCHAR" property="taxNumber" />
    <result column="billing_period" jdbcType="INTEGER" property="billingPeriod" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="created_user_id" jdbcType="BIGINT" property="createdUserId" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="is_active" jdbcType="BIT" property="isActive" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    customer_id, name, customer_type_id, branch_id, admin_region_id, address, latitude, 
    longitude, contact_person, contact_number, contact_mobile, fax, invoice_type_id, 
    invoice_header, tax_number, billing_period, user_id, created_date, created_user_id, 
    is_deleted, is_active, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer
    where customer_id = #{customerId,jdbcType=BIGINT}
  </select>
  <select id="getCustomerById" resultType="com.jaagro.microservice.platform.api.dto.tms.CustomerReturnDto">
    select * from customer where customer_id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from customer
    where customer_id = #{customerId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jaagro.microservice.platform.tms.entity.Customer">
    insert into customer (customer_id, name, customer_type_id, 
      branch_id, admin_region_id, address, 
      latitude, longitude, contact_person, 
      contact_number, contact_mobile, fax, 
      invoice_type_id, invoice_header, tax_number, 
      billing_period, user_id, created_date, 
      created_user_id, is_deleted, is_active, 
      version)
    values (#{customerId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{customerTypeId,jdbcType=BIGINT}, 
      #{branchId,jdbcType=BIGINT}, #{adminRegionId,jdbcType=BIGINT}, #{address,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=DECIMAL}, #{longitude,jdbcType=DECIMAL}, #{contactPerson,jdbcType=VARCHAR}, 
      #{contactNumber,jdbcType=VARCHAR}, #{contactMobile,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, 
      #{invoiceTypeId,jdbcType=BIGINT}, #{invoiceHeader,jdbcType=VARCHAR}, #{taxNumber,jdbcType=VARCHAR}, 
      #{billingPeriod,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{createdUserId,jdbcType=BIGINT}, #{isDeleted,jdbcType=BIT}, #{isActive,jdbcType=BIT}, 
      #{version,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jaagro.microservice.platform.tms.entity.Customer">
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="customerTypeId != null">
        customer_type_id,
      </if>
      <if test="branchId != null">
        branch_id,
      </if>
      <if test="adminRegionId != null">
        admin_region_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="contactPerson != null">
        contact_person,
      </if>
      <if test="contactNumber != null">
        contact_number,
      </if>
      <if test="contactMobile != null">
        contact_mobile,
      </if>
      <if test="fax != null">
        fax,
      </if>
      <if test="invoiceTypeId != null">
        invoice_type_id,
      </if>
      <if test="invoiceHeader != null">
        invoice_header,
      </if>
      <if test="taxNumber != null">
        tax_number,
      </if>
      <if test="billingPeriod != null">
        billing_period,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="createdUserId != null">
        created_user_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerId != null">
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="customerTypeId != null">
        #{customerTypeId,jdbcType=BIGINT},
      </if>
      <if test="branchId != null">
        #{branchId,jdbcType=BIGINT},
      </if>
      <if test="adminRegionId != null">
        #{adminRegionId,jdbcType=BIGINT},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="contactPerson != null">
        #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null">
        #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null">
        #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="invoiceTypeId != null">
        #{invoiceTypeId,jdbcType=BIGINT},
      </if>
      <if test="invoiceHeader != null">
        #{invoiceHeader,jdbcType=VARCHAR},
      </if>
      <if test="taxNumber != null">
        #{taxNumber,jdbcType=VARCHAR},
      </if>
      <if test="billingPeriod != null">
        #{billingPeriod,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null">
        #{createdUserId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=BIT},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.microservice.platform.tms.entity.Customer">
    update customer
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="customerTypeId != null">
        customer_type_id = #{customerTypeId,jdbcType=BIGINT},
      </if>
      <if test="branchId != null">
        branch_id = #{branchId,jdbcType=BIGINT},
      </if>
      <if test="adminRegionId != null">
        admin_region_id = #{adminRegionId,jdbcType=BIGINT},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="contactPerson != null">
        contact_person = #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null">
        contact_number = #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null">
        contact_mobile = #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="invoiceTypeId != null">
        invoice_type_id = #{invoiceTypeId,jdbcType=BIGINT},
      </if>
      <if test="invoiceHeader != null">
        invoice_header = #{invoiceHeader,jdbcType=VARCHAR},
      </if>
      <if test="taxNumber != null">
        tax_number = #{taxNumber,jdbcType=VARCHAR},
      </if>
      <if test="billingPeriod != null">
        billing_period = #{billingPeriod,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null">
        created_user_id = #{createdUserId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=BIT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=BIGINT},
      </if>
    </set>
    where customer_id = #{customerId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.microservice.platform.tms.entity.Customer">
    update customer
    set name = #{name,jdbcType=VARCHAR},
      customer_type_id = #{customerTypeId,jdbcType=BIGINT},
      branch_id = #{branchId,jdbcType=BIGINT},
      admin_region_id = #{adminRegionId,jdbcType=BIGINT},
      address = #{address,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=DECIMAL},
      longitude = #{longitude,jdbcType=DECIMAL},
      contact_person = #{contactPerson,jdbcType=VARCHAR},
      contact_number = #{contactNumber,jdbcType=VARCHAR},
      contact_mobile = #{contactMobile,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      invoice_type_id = #{invoiceTypeId,jdbcType=BIGINT},
      invoice_header = #{invoiceHeader,jdbcType=VARCHAR},
      tax_number = #{taxNumber,jdbcType=VARCHAR},
      billing_period = #{billingPeriod,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      created_user_id = #{createdUserId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=BIT},
      is_active = #{isActive,jdbcType=BIT},
      version = #{version,jdbcType=BIGINT}
    where customer_id = #{customerId,jdbcType=BIGINT}
  </update>
</mapper>