<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaagro.microservice.platform.tms.mapper.ShippingAddressMapper">
  <resultMap id="BaseResultMap" type="com.jaagro.microservice.platform.tms.entity.ShippingAddress">
    <id column="shipping_address_id" jdbcType="BIGINT" property="shippingAddressId" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="admin_region_id" jdbcType="BIGINT" property="adminRegionId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="contact_person" jdbcType="VARCHAR" property="contactPerson" />
    <result column="contact_number" jdbcType="VARCHAR" property="contactNumber" />
    <result column="contact_mobile" jdbcType="VARCHAR" property="contactMobile" />
    <result column="shipping_requirements" jdbcType="VARCHAR" property="shippingRequirements" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="created_user_id" jdbcType="BIGINT" property="createdUserId" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="is_active" jdbcType="BIT" property="isActive" />
    <result column="is_default" jdbcType="BIT" property="isDefault" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    shipping_address_id, customer_id, receiver, admin_region_id, address, latitude, longitude, 
    contact_person, contact_number, contact_mobile, shipping_requirements, notes, created_date, 
    created_user_id, is_deleted, is_active, is_default, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shipping_address
    where shipping_address_id = #{shippingAddressId,jdbcType=BIGINT}
  </select>
    <select id="getShippingAddressByName"
            resultType="com.jaagro.microservice.platform.tms.entity.ShippingAddress">
      select * from shipping_address where receiver = #{name}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shipping_address
    where shipping_address_id = #{shippingAddressId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jaagro.microservice.platform.tms.entity.ShippingAddress">
    insert into shipping_address (shipping_address_id, customer_id, receiver, 
      admin_region_id, address, latitude, 
      longitude, contact_person, contact_number, 
      contact_mobile, shipping_requirements, notes, 
      created_date, created_user_id, is_deleted, 
      is_active, is_default, version
      )
    values (#{shippingAddressId,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{receiver,jdbcType=VARCHAR}, 
      #{adminRegionId,jdbcType=BIGINT}, #{address,jdbcType=VARCHAR}, #{latitude,jdbcType=DECIMAL}, 
      #{longitude,jdbcType=DECIMAL}, #{contactPerson,jdbcType=VARCHAR}, #{contactNumber,jdbcType=VARCHAR}, 
      #{contactMobile,jdbcType=VARCHAR}, #{shippingRequirements,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{createdUserId,jdbcType=BIGINT}, #{isDeleted,jdbcType=BIT}, 
      #{isActive,jdbcType=BIT}, #{isDefault,jdbcType=BIT}, #{version,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jaagro.microservice.platform.tms.entity.ShippingAddress">
    insert into shipping_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shippingAddressId != null">
        shipping_address_id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="receiver != null">
        receiver,
      </if>
      <if test="adminRegionId != null">
        admin_region_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="contactPerson != null">
        contact_person,
      </if>
      <if test="contactNumber != null">
        contact_number,
      </if>
      <if test="contactMobile != null">
        contact_mobile,
      </if>
      <if test="shippingRequirements != null">
        shipping_requirements,
      </if>
      <if test="notes != null">
        notes,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="createdUserId != null">
        created_user_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="isDefault != null">
        is_default,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shippingAddressId != null">
        #{shippingAddressId,jdbcType=BIGINT},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="receiver != null">
        #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="adminRegionId != null">
        #{adminRegionId,jdbcType=BIGINT},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="contactPerson != null">
        #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null">
        #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null">
        #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="shippingRequirements != null">
        #{shippingRequirements,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null">
        #{createdUserId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=BIT},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=BIT},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.microservice.platform.tms.entity.ShippingAddress">
    update shipping_address
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="receiver != null">
        receiver = #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="adminRegionId != null">
        admin_region_id = #{adminRegionId,jdbcType=BIGINT},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="contactPerson != null">
        contact_person = #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null">
        contact_number = #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null">
        contact_mobile = #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="shippingRequirements != null">
        shipping_requirements = #{shippingRequirements,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null">
        created_user_id = #{createdUserId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=BIT},
      </if>
      <if test="isDefault != null">
        is_default = #{isDefault,jdbcType=BIT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=BIGINT},
      </if>
    </set>
    where shipping_address_id = #{shippingAddressId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.microservice.platform.tms.entity.ShippingAddress">
    update shipping_address
    set customer_id = #{customerId,jdbcType=BIGINT},
      receiver = #{receiver,jdbcType=VARCHAR},
      admin_region_id = #{adminRegionId,jdbcType=BIGINT},
      address = #{address,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=DECIMAL},
      longitude = #{longitude,jdbcType=DECIMAL},
      contact_person = #{contactPerson,jdbcType=VARCHAR},
      contact_number = #{contactNumber,jdbcType=VARCHAR},
      contact_mobile = #{contactMobile,jdbcType=VARCHAR},
      shipping_requirements = #{shippingRequirements,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      created_user_id = #{createdUserId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=BIT},
      is_active = #{isActive,jdbcType=BIT},
      is_default = #{isDefault,jdbcType=BIT},
      version = #{version,jdbcType=BIGINT}
    where shipping_address_id = #{shippingAddressId,jdbcType=BIGINT}
  </update>
</mapper>