<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaagro.microservice.platform.tms.mapper.WaybillLogMapper">
  <resultMap id="BaseResultMap" type="com.jaagro.microservice.platform.tms.entity.WaybillLog">
    <id column="waybill_log_id" jdbcType="BIGINT" property="waybillLogId" />
    <result column="target_waybill_id" jdbcType="BIGINT" property="targetWaybillId" />
    <result column="operated_user_id" jdbcType="BIGINT" property="operatedUserId" />
    <result column="operated_date" jdbcType="TIMESTAMP" property="operatedDate" />
    <result column="operation_description" jdbcType="VARCHAR" property="operationDescription" />
    <result column="is_operation_log" jdbcType="BIT" property="isOperationLog" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    waybill_log_id, target_waybill_id, operated_user_id, operated_date, operation_description, 
    is_operation_log, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from waybill_log
    where waybill_log_id = #{waybillLogId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from waybill_log
    where waybill_log_id = #{waybillLogId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jaagro.microservice.platform.tms.entity.WaybillLog">
    insert into waybill_log (waybill_log_id, target_waybill_id, operated_user_id, 
      operated_date, operation_description, is_operation_log, 
      is_deleted)
    values (#{waybillLogId,jdbcType=BIGINT}, #{targetWaybillId,jdbcType=BIGINT}, #{operatedUserId,jdbcType=BIGINT}, 
      #{operatedDate,jdbcType=TIMESTAMP}, #{operationDescription,jdbcType=VARCHAR}, #{isOperationLog,jdbcType=BIT}, 
      #{isDeleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.jaagro.microservice.platform.tms.entity.WaybillLog">
    insert into waybill_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="waybillLogId != null">
        waybill_log_id,
      </if>
      <if test="targetWaybillId != null">
        target_waybill_id,
      </if>
      <if test="operatedUserId != null">
        operated_user_id,
      </if>
      <if test="operatedDate != null">
        operated_date,
      </if>
      <if test="operationDescription != null">
        operation_description,
      </if>
      <if test="isOperationLog != null">
        is_operation_log,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="waybillLogId != null">
        #{waybillLogId,jdbcType=BIGINT},
      </if>
      <if test="targetWaybillId != null">
        #{targetWaybillId,jdbcType=BIGINT},
      </if>
      <if test="operatedUserId != null">
        #{operatedUserId,jdbcType=BIGINT},
      </if>
      <if test="operatedDate != null">
        #{operatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operationDescription != null">
        #{operationDescription,jdbcType=VARCHAR},
      </if>
      <if test="isOperationLog != null">
        #{isOperationLog,jdbcType=BIT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.microservice.platform.tms.entity.WaybillLog">
    update waybill_log
    <set>
      <if test="targetWaybillId != null">
        target_waybill_id = #{targetWaybillId,jdbcType=BIGINT},
      </if>
      <if test="operatedUserId != null">
        operated_user_id = #{operatedUserId,jdbcType=BIGINT},
      </if>
      <if test="operatedDate != null">
        operated_date = #{operatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operationDescription != null">
        operation_description = #{operationDescription,jdbcType=VARCHAR},
      </if>
      <if test="isOperationLog != null">
        is_operation_log = #{isOperationLog,jdbcType=BIT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where waybill_log_id = #{waybillLogId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.microservice.platform.tms.entity.WaybillLog">
    update waybill_log
    set target_waybill_id = #{targetWaybillId,jdbcType=BIGINT},
      operated_user_id = #{operatedUserId,jdbcType=BIGINT},
      operated_date = #{operatedDate,jdbcType=TIMESTAMP},
      operation_description = #{operationDescription,jdbcType=VARCHAR},
      is_operation_log = #{isOperationLog,jdbcType=BIT},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where waybill_log_id = #{waybillLogId,jdbcType=BIGINT}
  </update>
</mapper>