<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaagro.microservice.platform.tms.mapper.WaybillProductItemMapper">
  <resultMap id="BaseResultMap" type="com.jaagro.microservice.platform.tms.entity.WaybillProductItem">
    <id column="waybill_product_item_id" jdbcType="BIGINT" property="waybillProductItemId" />
    <result column="waybill_product_id" jdbcType="BIGINT" property="waybillProductId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="chargeable_weight" jdbcType="DECIMAL" property="chargeableWeight" />
    <result column="applied_medicine" jdbcType="BIT" property="appliedMedicine" />
    <result column="loading_position" jdbcType="VARCHAR" property="loadingPosition" />
  </resultMap>
  <sql id="Base_Column_List">
    waybill_product_item_id, waybill_product_id, product_name, quantity, weight, chargeable_weight, 
    applied_medicine, loading_position
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from waybill_product_item
    where waybill_product_item_id = #{waybillProductItemId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from waybill_product_item
    where waybill_product_item_id = #{waybillProductItemId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jaagro.microservice.platform.tms.entity.WaybillProductItem">
    insert into waybill_product_item (waybill_product_item_id, waybill_product_id, 
      product_name, quantity, weight, 
      chargeable_weight, applied_medicine, loading_position
      )
    values (#{waybillProductItemId,jdbcType=BIGINT}, #{waybillProductId,jdbcType=BIGINT}, 
      #{productName,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER}, #{weight,jdbcType=DECIMAL}, 
      #{chargeableWeight,jdbcType=DECIMAL}, #{appliedMedicine,jdbcType=BIT}, #{loadingPosition,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jaagro.microservice.platform.tms.entity.WaybillProductItem">
    insert into waybill_product_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="waybillProductItemId != null">
        waybill_product_item_id,
      </if>
      <if test="waybillProductId != null">
        waybill_product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="chargeableWeight != null">
        chargeable_weight,
      </if>
      <if test="appliedMedicine != null">
        applied_medicine,
      </if>
      <if test="loadingPosition != null">
        loading_position,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="waybillProductItemId != null">
        #{waybillProductItemId,jdbcType=BIGINT},
      </if>
      <if test="waybillProductId != null">
        #{waybillProductId,jdbcType=BIGINT},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="chargeableWeight != null">
        #{chargeableWeight,jdbcType=DECIMAL},
      </if>
      <if test="appliedMedicine != null">
        #{appliedMedicine,jdbcType=BIT},
      </if>
      <if test="loadingPosition != null">
        #{loadingPosition,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jaagro.microservice.platform.tms.entity.WaybillProductItem">
    update waybill_product_item
    <set>
      <if test="waybillProductId != null">
        waybill_product_id = #{waybillProductId,jdbcType=BIGINT},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="chargeableWeight != null">
        chargeable_weight = #{chargeableWeight,jdbcType=DECIMAL},
      </if>
      <if test="appliedMedicine != null">
        applied_medicine = #{appliedMedicine,jdbcType=BIT},
      </if>
      <if test="loadingPosition != null">
        loading_position = #{loadingPosition,jdbcType=VARCHAR},
      </if>
    </set>
    where waybill_product_item_id = #{waybillProductItemId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jaagro.microservice.platform.tms.entity.WaybillProductItem">
    update waybill_product_item
    set waybill_product_id = #{waybillProductId,jdbcType=BIGINT},
      product_name = #{productName,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      weight = #{weight,jdbcType=DECIMAL},
      chargeable_weight = #{chargeableWeight,jdbcType=DECIMAL},
      applied_medicine = #{appliedMedicine,jdbcType=BIT},
      loading_position = #{loadingPosition,jdbcType=VARCHAR}
    where waybill_product_item_id = #{waybillProductItemId,jdbcType=BIGINT}
  </update>
</mapper>